.blurb {
  color: #AAA;
  font-size: 2.4em;
  line-height: 1.2em;
  font-family: "Amasis MT W01 Bold", Georgia, serif;
  margin-bottom: 10px;
  .great {
    color: $blue;
  }
}

.about-more {
  color: $blue;
  font-size: 1.2em;
  line-height: 1.1em;
  font-family: "Amasis MT W01 Bold", Georgia, serif;

}
