.talking {
  background-image: image_url('talking.jpg');
  height: 552px;
  position: relative;
  .desc {
    background-image: image_url('blue.png');
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

.about_images {
  background-image: image_url("about_images.jpg");
  height: 309px;
  margin-top: 15px;
  position: relative;
  margin-bottom: 75px;
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    &.top {
      background: #2992c9;
      color: #FFF;
    }
    color: #2992c9;
      background: #FFF;
    margin-top: 2px;
    padding: 4px 24px 4px 4px;
    clear: both;
    float: left;
  }
  ul {
    position: absolute;
    bottom: 12px;
    left: 12px;
  }
}

.blurb {
  color: #AAA;
  font-size: 2.4em;
  line-height: 1.2em;
  font-family: "Amasis MT W01 Bold", Georgia, serif;
  margin-bottom: 10px;
  .great {
    color: $blue;
  }
}

.about-more {
  color: $blue;
  font-size: 1.2em;
  line-height: 1.1em;
  font-family: "Amasis MT W01 Bold", Georgia, serif;

}
