.client {
  background-color: #F7F7F7;
  margin-bottom: 30px;
  height: 220px;
  span {
    width: 100%;
    height: 100%;
    display: block;
    background: center center no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}