---
title: Chris' Story
date: 2012-04-01
quote: It was great to see the company's vision \n displayed in such an interesting way
source: Chris
company: Astellas Pharma
published: false
---

<!-- <img src="rapport3.png" /> -->

<div class="row">
  <div class="span6">
    <span class="white">‘It was great to see the</span>
    <span class="white">company's vision displayed</span>
    <span class="white">in such an interesting way’</span>
    <span class="blue">Chris</span>
    <span class="blue">Astellas Pharma</span>
  </div>
  <div class="span6" data-valign="bottom">
    <img src="Astellas 2011 logo.jpg" style="float: right" />
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h4>The Brief</h4>
        <p>To produce an experience worthy of winning Best B2B Conference for the second year running.</p>
      </div>
    </div>
    <img src="Astellas 2011 01.jpg"  />
  </div>
  <div class="span8">
    <%= youtube('ppiuSXA5Ng0',405) %>
  </div>
</div>

<div class="row">
  <div class="span5" data-valign="middle">
    <h4>The Solution</h4>
    <p>A sense of purpose was integral in the whole event and the video reinforced the great things Astellas are doing each day in pursuit of their ethos of CHANGING TOMORROW™.</p>
    <p>As a result we created a positive and emotive conference narrative. Real patient stories came to life via the 'Focus on Zones' and bespoke web app, which gave every delegate the ability to have a personalised experience where they could dig deeper into the topics that mattered most to them.</p>
  </div>
  <div class="span6 offset1">
    <img src="Astellas 2011 02.jpg" />
  </div>
</div>

<div class="row">
  <div class="span7">
    <img src="Astellas 2011 03.jpg" />
  </div>
  <div class="span5" data-valign="middle">
    <span class="blue">'Engaging, interesting and</span>
    <span class="blue">inspirational - gave me extra</span>
    <span class="blue">information and motivation</span>
    <span class="blue">to work</span>
  </div>
</div>

<div class="row">
  <div class="span4" data-valign="middle">
    <h4>The Result</h4>
    <p>The attendees are the ultimate judges and this is what they said: 'Engaging, interesting and inspirational - Gave me extra information and motivation to work.'</p>
    <p>'I think the pace of the day and huge variety of content kept me engaged throughout'. 'We’re excited that the opening video is being used post event to inspire others to do great things.'</p>
  </div>
  <div class="span8">
    <img src="Astellas 2011 04.jpg" />
  </div>
</div>