---
title: Jenny's Story
date: 2012-05-01
quote: I travelled in time to see\n my organisation in the\n past, present and future
source: Jenny
company: Astellas Pharma
published: true
---

<div class="row">
  <div class="span6">
    <span class="white">‘I travelled in time to see my organisation in the past, present and future.’</span>
    <span class="blue">JENNY</span>
    <span class="blue">ASTELLAS PHARMA</span>
  </div>
  <div class="span6" data-valign="bottom"><img src="Astellas logo.jpg" style="float: right"/></div>
</div>

<div class="row">
  <div class="span4" data-valign="bottom">
    <h4>The Brief</h4>
    <p>The Senior Managers’ Meeting is the flagship event in Europe, held annually for 200 of the Senior Managers.</p>
    <p>The brief was simple: bring their 10 year Vision to life and help the Senior Managers take stock of where they are, what’s been accomplished and what needs doing.</p>
  </div>
  <div class="span8"><img src="Astellas 2010 01.jpg" /></div>

</div>

<div class="row">
  <div class="span5"><img src="Astellas 2010 02.jpg" /></div>
  <div class="span6 offset1" data-valign="middle">
    <span class="blue">‘BRING THEIR 10 YEAR VISION TO LIFE</span>
    <span class="blue">AND HELP THE SENIOR MANAGERS</span>
    <span class="blue">TAKE STOCK OF WHERE THEY ARE’</span>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4>The Solution</h4>
    <p>Time travel formed the backbone of our solution. We decided to use the delegate's movements at the event to illustrate the passage of time, their movement through the meeting reflected different time points in the company's journey. We created three spaces: 'Where we've been', 'Where we are' and 'Where we're going'. Everything in the approach was the dictated by the past, present and future.</p>
  </div>
  <div class="span7 offset1"><img src="Astellas 2010 03.jpg" /></div>
</div>

<div class="row">
  <div class="span7"><img src="Astellas 2010 04.jpg" /></div>
  <div class="span4 offset1" data-valign="middle">
    <h4>The Result</h4>
    <p>The delegates left sound in the knowledge that not only was the business on a journey but most importantly, exactly where they sat within that journey and what they needed to do over the next 5 years to realise the vision.</p>
  </div>
</div>