---
title: Mike's Story
date: 2012-07-01
quote: I got to be a film director\n for the day and brought my\n company's vision to life
source: Mike
company: Capital One
published: true
---

<div class="row main-quote">
  <div class="span6">
    <span class="white">‘I GOT TO BE A FILM DIRECTOR FOR THE DAY</span>
    <span class="white">AND BROUGHT MY COMPANY’S VISION TO LIFE.’</span>
    <span class="blue">Mike</span>
    <span class="blue">Capital One</span>
  </div>
</div>

<div class="row" style="padding-top: 140px">
  <div class="span4" data-valign="middle">
    <h4>The Brief</h4>
    <p>In 2011 one of our global clients launched their long-term Vision. Although the vision is well known and understood across the business, they wanted to move from understanding to buy-in and commitment.</p>
  </div>
  <div class="span8">
    <img src="Global Client 01.jpg" />
  </div>
</div>

<div class="row">
  <div class="span7 offset1">
    <img src="Global Client 02.jpg" />
  </div>
  <div class="span4" data-valign="middle">
    <img src="Global Client 05.jpg" />
  </div>
</div>

<div class="row">
  <div class="span5">
    <div data-valign="middle">
      <img src="Global Client 04.jpg" />
      <span class="blue" style="float: right">‘Take the vision statement</span>
      <span class="blue" style="float: right">and bring it to life</span>
      <span class="blue" style="float: right">by creating a</span>
      <span class="blue" style="float: right">30 second viral film.’</span>
    </div>
  </div>
  <div class="span7" style="text-align: right">
    <img src="Global Client 03.jpg" />
    <img src="Global Client 06.jpg" />
  </div>
</div>

<div class="row">
  <div class="span10 offset2">
    <img src="Global Client 07.jpg" />
  </div>
</div>

<div class="row">
  <div class="span5 offset1">
    <img src="Global Client 08.jpg" />
  </div>
  <div class="span4" data-valign="middle">
    <h4>The Solution</h4>
    <p>We wanted all 800 of their employees to own their vision, understand their responsibility and feel empowered to deliver it, so we created a challenge entitled ‘Can you cut it?’. The challenge was for individual teams to take the vision statement and bring it to life by creating a 30 second viral film.’</p>
  </div>
</div>

<div class="row">
  <div class="span7">
    <%= youtube('EHmVrYJpopc',340) %>
  </div>
  <div class="span5">
    <img src="Global Client 09.jpg" />
    <div class="row">
      <div class="span4 offset1">
        <h4>The Result</h4>
        <p>64 fun and engaging viral films all clearly communicating the long-term vision, proudly produced by everyone in the business.</p>
        <p>The films will be used for post event communications including ‘The Directors Cut’ DVD.</p>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="span7 offset1">
    <img src="Global Client 10.jpg" />
  </div>
  <div class="span4" data-valign="middle">
    <img src="Global Client 11.jpg" />
  </div>

</div>
