---
title: Joanne's Story
date: 2012-10-01
quote: I now have what it\n takes for the tough\n journey ahead
source: Joanne
company: Kelloggs
published: true
---

<div class="row main-quote" style="position: static">
  <div class="span5" style="margin-top: 30px;">
    <span class="white">‘I now have what it</span>
    <span class="white">takes for the tough</span>
    <span class="white">journey ahead’</span>
    <span class="blue highlight">Joanne, Position</span>
    <span class="blue highlight">Kelloggs UK</span>
  </div>

  <div class="span7">
    <img src="Kelloggs 01.jpg" />
  </div>
</div>

<div class="row">
  <div class="span6">
    <img src="Kelloggs 02.jpg" />
  </div>
  <div class="span4" data-valign="middle">
    <h4>The Brief</h4>
    <p>To inform 350 Kellogg's UK Employees of the 12 month business plan, unite them to feel proud of their heritage and the strong brand they work for and provide a platform for interaction between different divisions and the European Leadership team.</p>
  </div>
</div>

<div class="row">
  <div class="span4" data-valign="middle">
    <img src="Kelloggs 04.jpg" />
  </div>
  <div class="span8">
    <img src="Kelloggs 03.jpg" />
  </div>
</div>

<div class="row">
  <div class="span12">
    <img src="Kelloggs 05.jpg" />
  </div>
</div>

<div class="row">
  <div class="span5 offset2">
    <img src="Kelloggs 06.jpg" />
  </div>
  <div class="span4">
    <h4>The Solution</h4>
    <p>We developed an event identity which provided a strong theme that the employees could identify with and would continue to be motivated by post event. An experiential tunnel saw the employees using UV torches to discover historic advertising and poignant quotes, while listening to nostalgic adverts and jingles, this took them back to their roots and reminded them of past success. In the main room Projection Mapping content across a huge 3D stage fully immersed the audience in the plan, encouraging real interactivity through Q&A and workshop sessions.</p>
  </div>
</div>

<div class="row">
  <div class="span8" style="text-align: right">
    <span class="white right">'Best Conference in 10 Years'</span>
    <span class="blue right">European President</span>
    <span class="blue right">Kelloggs UK</span>
  </div>
</div>

<div class="row">
  <div class="span4 offset1">
    <img src="Kelloggs 07.jpg" />
  </div>
  <div class="span7">
    <img src="Kelloggs 08.jpg" />
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <img src="Kelloggs 09.jpg" class="bm" />
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <span class="blue right">Winning Mindset</span>
        <span class="blue right">For 2012</span>
      </div>
      <div class="span4">
        <h4>The Result</h4>
        <p>The European President said it was the best Conference he'd been to in 10 years' and 88% of attendees felt they left the conference with a stronger belief in the Kellogg's brand and with a winning mindset for 2012. Employees felt fully informed of the route the business would take in 2012 and an illustrative scribe, produced during the event, hangs in the Kellogg's Manchester HQ, reminding  them of key messages and presentations.</p>
      </div>
    </div>

  </div>
  <div class="span4">
    <img src="Kelloggs 10.jpg" />
    <img src="Kelloggs 11.jpg" />
    <img src="Kelloggs 12.jpg" />
<!--     <img src="Kelloggs 13.jpg" />
 -->  </div>
</div>

<div class="row">
  <div class="span12">
    <img src="Kelloggs 14.jpg" />
  </div>
</div>
