---
title: Capital One Heroes
date: 2012-08-01
quote: Unmasking the heroes\n within your organisation
source: Mark
company: Capital One
p: true
---

<div class="row main-quote" style="position: relative;">
  <div class="span6">
    <span class="white">‘I was unmasked as a hero</span>
    <span class="white">of our company vision’</span>
    <span class="blue">Mark</span>
    <span class="blue">Capital One</span>
    <div class="row" style="clear: both">
      <div class="span4 offset2" style='margin-top: 80px'>
        <h4>The Brief</h4>
        <p>To create a reward and recognition day for 800 employees. The objective was to celebrate the great things that teams and individuals have achieved over the last 12 months to 'Make Lives Better' for customers and colleagues.</p>
      </div>
    </div>
  </div>
  <div class="span6">
    <img src="Global Client 01.jpg" style="margin-top: 110px"/>
  </div>
</div>

<div class="row">
  <div class="span8"><img src="Global Client 02.jpg" /></div>
  <div class="span4"  data-valign="bottom">
    <img src="Global Client 03.jpg"/>
  </div>
</div>

<div class="row">
  <div class="span4 offset1">
    <img src="Global Client 05.jpg" />
    <img src="Global Client 06.jpg" />
  </div>
  <div class="span7">
    <img src="Global Client 04.jpg" />
    <div class="row">
      <div class="span6 offset1" style="margin-top: 30px">
        <span class="blue">All nominees were</span>
        <span class="blue">featured in a one</span>
        <span class="blue">off comic book.</span>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="span12">
    <img src="Global Client 08.jpg" />
  </div>
</div>

<div class="row">
  <div class="span5">
    <span class="blue">each superheroes’ true</span>
    <span class="blue">identity was unmasked</span>
    <img src="Global Client 09.jpg" style="margin-top: 30px;" />
  </div>
  <div class="span7">
    <div class="row">
      <div class="span5">
        <h4>The Solution</h4>
        <p>The awards backdrop was a huge comic strip mural which featured six Super Heroes representing the business’ core imperatives and the six award categories. Each of the Super Heroes’ true identities were unmasked by the leadership team to unveil the winners’ faces and reward the employee or team behind the mask.</p>
        </div>
    </div>
    <img src="Global Client 10.jpg" style="margin-top: 50px;" />
  </div>
</div>

<div class="row">
  <div class="span4" data-valign="middle">
    <h4>The Result</h4>
    <p>An amazing day where everyone within the company got to hear about the heroic things people have done throughout the year.</p><p>Fun and engaging, the day created a real buzz and has already started to motivate staff into becoming next years Heroes.</p>
  </div>
  <div class="span6">
    <img src="Global Client 11.jpg" />
  </div>
</div>

<div class="row">
  <div class="span4 offset1">
    <img src="Global Client 14.jpg" />
  </div>
  <div class="span4">
    <img src="Global Client 13.jpg" />
  </div>
  <div class="span3">
    <img src="Global Client 12.jpg" />
  </div>
</div>

<div class="row">
  <div class="span12">
    <img src="Global Client 15.jpg" />
  </div>
</div>
