---
title: James' Story
date: 2012-09-01
quote: I'm inspired by our Olympics heritage \n and the opportunities in 2012
source: James
company: Adidas
published: true
---

<div class="row">
  <div class="span8">
    <span class="white">'I'm inspired by our</span>
    <span class="white">olympics heritage and</span>
    <span class="white">the opportunities in 2012'</span>
    <span class="blue">James, Position</span>
    <span class="blue">adidas</span>
  </div>

  <div class="span4 client-logo">
    <img src="Adidas Logo.jpg" style="position: absolute; bottom: 0; right: 0;" />
  </div>
</div>

<div class="row">
  <div class="span10 offset2">
    <img src="Adidas 01.jpg" />
  </div>
</div>

<div class="row">
  <div class="span7">
    <img src="Adidas 02.jpg" />
    <img src="Adidas 04.jpg" style="float: right" />
  </div>
  <div class="span5">
    <h4>The Brief</h4>
    <p>With the Olympics fast-approaching, adidas needed to reveal the Team GB kit to their internal staff and get them fired up to make the most of the greatest opportunity of their careers - the London Olympic Games being on their doorsteps. The purpose of the event was to inspire and inform the internal sales teams but also for them to then get the orders in from retailers who would be attending for the final two days of the event.</p>
    <img src="Adidas 03.jpg" style="margin-top: 100px;" />
  </div>
</div>

<div class="row">
  <div class="span5">
    <img src="Adidas 05.jpg" />
  </div>
  <div class="span3">
    <img src="Adidas 06.jpg" />
  </div>
</div>

<div class="row">
  <div class="span5 offset2" data-valign="middle">
    <h4>The Solution</h4>
    <p>The focal point of the exhibition space was a heritage sculpture piece that we designed, created and produced.</p>
    <p>The sculpture incorporated the history of adidas through the Olympics displaying key dates, facts and hero products from key years.</p>
  </div>
  <div class="span5">
    <img src="Adidas 07.jpg" />
  </div>
</div>

<div class="row">
  <div class="span12">
    <img src="Adidas 08.jpg" />
  </div>
</div>

<div class="row">
  <div class="span5" data-valign="middle">
    <span class="white">THE EVENT PROVIDED AN IDEAL BUYING ENVIRONMENT FOR THE RETAILER</span>
  </div>
  <div class="span6">
    <img src="Adidas 09.jpg" />
  </div>
</div>

<div class="row">
  <div class="span8">
    <img src="Adidas 11.jpg" />
  </div>
  <div class="span4">
    <img src="Adidas 10.jpg" style="margin-bottom: 80px;"/>
    <h4>The Result</h4>
    <p>Huge sales opportunities for the adidas sales teams as the event provided an ideal buying environment for the retailer.</p>
  </div>
</div>
