---
title: Stuart's Story
date: 2012-10-05
quote: I undertook a secret\n mission to rescue my imprisoned\n managing director
source: Stuart
company: Capital One
published: true
---

<div class="row main-quote">
  <div class="span8">
    <span class="white">‘I undertook a secret mission</span>
    <span class="white">to rescue my imprisoned</span>
    <span class="white">managing director’</span>
    <span class="blue highlight">Stuart</span>
    <span class="blue highlight">Capital One</span>
  </div>
</div>

<div class="row" style="padding-top: 100px;">
  <div class="span4 offset1" data-valign="bottom">
    <h4>The Brief</h4>
    <p>In 2011 Capital One successfully launched their company Vision; 'Make Lives Better'. Since then the vision has gone from strength to strength so Capital One wanted an innovative, engaging event to mark their progress and showcase the success stories that really have made customers lives better.</p>
  </div>
  <div class="span7">
    <img src="mlb.jpg" />
  </div>
</div>

<div class="row">
  <div class="span6 offset1">
    <img src="secure-area.jpg" />
    <img src="passes.jpg" style="float: right" />
  </div>
  <div class="span5">
    <img src="clearance.jpg" style="margin: 100px 0 50px" />
    <span class="blue">'We have lots of vision</span>
    <span class="blue">related success stories the</span>
    <span class="blue">problem is they haven't been</span>
    <span class="blue">shared with out employees'</span>
  </div>
</div>

<div class="row">
  <div class="span5" data-valign="middle">
    <h4>The Solution</h4>
    <p>We created a secret agency. The M.L.B (make lives better) agency lived in the shadows and up until the event nobody knew of it's existence. On the day of the event the audience attended a seemingly ordinary corporate conference, only to find out that the head of M.L.B Brian Cole (CEO of Capital one) had been captured and held hostage. It was up to the delegates (now agents) to obtain Vision intelligence (or make lives better stories) that would ensure the succesfull release of their leader.</p>
  </div>
  <div class="span6 offset1">
    <img src="speaker.jpg" />
  </div>
</div>

<div class="row">
  <div class="span9">
    <img src="video-placeholder.jpg" />
  </div>
</div>

<!-- <div class="row">
  <div class="span9">
    <%= youtube('AniBlV1_RTE',390) %>
  </div>
</div> -->

<div class="row">
  <div class="span4 offset3"><img src="danny-dyer.jpg" /></div>
  <div class="span4"><img src="chris.jpg" /></div>
</div>

<div class="row">
  <div class="span5 offset1"><img src="back.jpg" /></div>
  <div class="span6"><img src="video-placeholder2.jpg" /></div>
</div>

<div class="row">
  <div class="span4">
    <span class="blue" style="float: right">Delegates</span>
    <span class="blue" style="float: right">enjoying the</span>
    <span class="blue" style="float: right">days activities</span>
  </div>
  <div class="span4">
    <img src="enjoying.jpg" />
  </div>
</div>

<div class="row">
  <div class="span7">
    <div class="row">
      <div class="span6 offset1"><img src="work.jpg" /></div>
    </div>
    <div class="row">
      <div class="span3"><img src="skeleton.jpg" /></div>
      <div class="span3"><img src="torch.jpg" /></div>

      <div class="span4">
        <h4 style="margin-top: 20px">The Result</h4>
        <p>The most ambitious job we have delivered to date, 1000 people all taking part in multiple immersive experiences including a forensic lab, a CCTV room, Laser Room and even a rooftop reconicance mission.</p>
        <p>Client feedback was that 94% understood how the Vision was benifiting their competetive strategy and the project has been nominated for multiple industry awards.</p>
      </div>
    </div>
  </div>

  <div class="span5">
    <img src="green.jpg" />
  </div>


</div>

<div class="row">
  <div class="span6 offset2"><img src="flag.jpg" /></div>
  <div class="span4"><img src="binoculars.jpg" /></div>
</div>