---
title: Kellogg's 2013
date: 2013-07-02
quote: Fighting rising food poverty\n with a pledge to give away\n 15 million breakfasts
source: Joanne
company: Kelloggs
p: true
---

<div class="row main-quote" style="position: relative">
  <div class="span5" style="margin-bottom: 50px">
    <span class="white">Great is...</span>
    <span class="blue highlight">Fighting rising food poverty</span>
    <span class="blue highlight">with a pledge to give away</span>
    <span class="blue highlight">fifteen million breakfasts</span>
  </div>
  <div class="span7 client-logo">
    <img src="kelloggs.png" style="position: absolute; bottom: 0; right: 0;" />
  </div>
</div>

<div class="row" >
  <div class="span5 offset1">
    <img src="stat.jpg" style="margin-top: 80px;" />
  </div>
  <div class="span6">
    <img src="books.jpg" />
  </div>
</div>


<div class="row">
  <div class="span7">
    <img src="spoons.jpg" />
  </div>
  <div class="span4" data-valign="middle">
    <h4>The Brief</h4>
    <p>After commissioning the Centre for Economics to conduct a study on the state of food poverty in the UK, Kellogg's selected Rapport to create the 32 page report: 'Hard to Swallow -The Facts about Food Poverty'.</p>
    <p>The hard-hitting evaluation would be aimed at the UK's key decision makers such as politicians and business leaders. Rapport were also briefed to produce a national press-ad campaign to raise awareness of Kellogg's findings as well as an internal poster campaign to educate employees throughout the organisation.</p>
  </div>
</div>

<div class="row">
  <div class="span4" data-valign="middle">
    <h4>The Solution</h4>
    <p>Our idea was both creative and simple, providing a stripped back, 'matter-of-fact' solution to the creative brief.</p>
    <p>We created engaging visuals by simply using kellogg's products to communicate the uncompromising facts about food poverty in the UK.</p>
  </div>
  <div class="span8">
    <img src="cereal.jpg" />
  </div>
</div>

<div class="row">
  <div class="span4 offset7">
        <h4>The Result</h4>
        <p>Kellogg's needed the creative for the food poverty campaign to be clear, powerful and engaging, which is exactly what they got. The report and campaign received lots of positive feedback both internally and externally.</p>
    </div>

</div>

<div class="row">
  <div class="span12">
    <img src="trio.png" />
  </div>
</div>
