---
title: Astellas SMM 2013
date: 2013-06-10
quote: Making Destiny
source: Joanne
company: Astellas
p: true
---

<div class="row main-quote" style="position: relative; margin-bottom: 50px">
  <div class="span5">
    <span class="white">Great is...</span>
    <span class="blue highlight">Making Destiny</span>
  </div>
</div>

<div class="row">
  <div class="span4 offset1" data-valign="middle">
    <h4>The Brief</h4>
    <p>Building on the success and impact of the 2012 event; engage and inspire the top 230 managers within Europe, Middle East and Africa division of an EMEA Pharma company through a one day Senior Managers’ conference and awards ceremony hosted at two venues.</p>
  </div>
  <div class="span7">
    <img src="destinymakers.jpg" />
  </div>
</div>

<div class="row">
  <div class="span6">
    <img src="hivis.jpg" />
  </div>
  <div class="span5 offset1" data-valign="middle">
    <h4>The Solution</h4>
    <p>In previous years, the event was hosted in major hotels in major European cities, however, for 2013 we decided to do something very different and to host it at the client’s European HQ.</p>
    <p>The ambitious choice of venue gave us the inspiration to create the most effective SMM to date.</p>
  </div>
</div>

<div class="row">
  <div class="span4 offset1">
    <img src="talking.jpg" />
  </div>
  <div class="span7" style="margin-top: 70px">
    <img src="tv.jpg" />
  </div>
</div>

<div class="row">
  <div class="span4" style="padding-top: 4%">
    <h4>The Result</h4>
    <p>The big challenge with this year’s event as opposed to previous years was holding the meeting in a working office rather than a conference facility. However, we used this change to our advantage by changing the content of the agenda and adding movement as a central component to the meeting. The survey results show that the meeting’s objectives were exceeded and the client was again impressed with another outstanding meeting.</p>
  </div>
  <div class="span3">
    <img src="balloon.jpg" />
  </div>
  <div class="span5">
    <img src="fox.jpg" />
    <span class="blue highlight" style="font-size: 1.8em; margin-top: 80px">81% of delegates left</span>
    <span class="blue highlight" style="font-size: 1.8em">feeling energised and</span>
    <span class="blue highlight" style="font-size: 1.8em">challenged to </span>
    <span class="blue highlight" style="font-size: 1.8em">perform at an even</span>
    <span class="blue highlight" style="font-size: 1.8em">greater level</span>
  </div>
</div>

<div class="row">
  <div class="span7" style="margin-top: -80px">
    <img src="meeting.jpg" />
  </div>
  <div class="span4 offset1">

    <img src="tie.jpg" style="margin-top: 150px"/>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <img src="speakers.jpg" />
  </div>
</div>

<div class="row">
  <div class="span12">
    <span class="blue highlight" style="font-size: 1.8em; padding-right: 70px">“Very informative, Very positive, Very motivating”</span>
  </div>
</div>

<div class="row">
  <div class="span5">
    <img src="hall.jpg" />
  </div>
  <div class="span7" data-valign="middle">
    <img src="speaker.jpg" />
  </div>
</div>
