---
title: Make an Impact
date: 2013-06-08
quote: Making an Impact
source: Joanne
company: Allergan
p: false
---

<div class="row main-quote" style="position: relative">
  <div class="span5">
    <span class="white">Great is...</span>
    <span class="blue highlight">Making an Impact</span>
  </div>
</div>

<div class="row">
  <div class="span4" data-valign="middle">
    <h4>The Brief</h4>
    <p>Create an inspiring and motivating sales conference for 1000 pharma-sector employees from across Europe, Africa and the Middle East.</p>
    <p>The creative approach had to be hard hitting leaving the delegates fired up to hit their targets for 2013 whilst communicating the real difference the company makes to patients lives across the world.</p>
  </div>
  <div class="span8">
    <img src="purple.jpg" />
  </div>
</div>

<div class="row">
  <div class="span8" style="text-align: center">
    <img src="stage.jpg" />
        <img src="audience.jpg" />

  </div>
  <div class="span4" style="margin-top: 80px">
    <img src="screen.jpg" />
  </div>
</div>

<div class="row" >
  <div class="span5 offset3" data-valign="middle">
    <h4>The Solution</h4>
    <p>Rapport developed a concept that quite simply asked the delegates to Make an Impact.</p>
    <p>We put the delegates at the heart of the experience at every step of the way, this included an explosive event opener which recognised the 'impact' of everyone in the business to date. </p>
    <p>This was delivered using state of the art technology including the use of LED wrist bands to immerse the whole audience in the breathtaking spectacle.</p>
  </div>
  <div class="span4" style="margin-top: -100px">
    <img src="blue.jpg" />
  </div>
</div>

<div class="row">
  <div class="span9 offset3">
    <img src="madeanimpact.jpg" />
  </div>
</div>

<div class="row">
  <div class="span5">
    <img src="piano.jpg" />
  </div>
  <div class="span7" data-valign="middle">
    <span class="blue highlight" style="margin-left: 20px; font-size: 1.5em">1,300 delegates attended</span>
    <span class="blue highlight" style="margin-left: 20px; font-size: 1.5em">and took part in the</span>
    <span class="blue highlight" style="margin-left: 20px; font-size: 1.5em">iPad Orchestra activity</span>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <img src="instruments.jpg" />
  </div>
</div>

<div class="row">
  <div class="span9 offset3">
    <img src="red.jpg" />
  </div>
</div>

<div class="row">
  <div class="span6 offset1">
    <img src="pinkbox.jpg" />
  </div>
  <div class="span4">
    <br/>
    <h4>The Result</h4>
    <p>Following a truly immersive experience which pushed the boundaries of live event design the client hailed the conference as one of the most impactful weeks of their careers. A large percentage of attendees said it was the best conference they had ever attended.</p>
  </div>
</div>
