---
title: Astellas SMM 2012
date: 2013-06-02
quote: Our destiny
source: Astellas
company: Allergan
p: true
---

<div class="row main-quote" style="position: relative">
  <div class="span6">
    <span class="white">I left the meeting feeling energized,</span>
    <span class="white">challenged and empowered</span>
    <span class="white">to take astellas forward</span>
    <span class="blue highlight">Astellas</span>
  </div>
</div>

<div class="row">
  <div class="span8 offset4">
    <img src="our-destiny.jpg" />
  </div>
</div>

<div class="row">
  <div class="span8">
    <img src="hand.jpg" />
  </div>
  <div class="span4" data-valign="middle">
    <h4>The Brief</h4>
    <p>Astellas wanted an empowering experience to inspire their senior leaders to drive the already successful business to even greater heights.</p>
    <p>The experience needed to communicate that the leaders are responsible for the future success of Astellas.</p>
  </div>
</div>

<div class="row">
  <div class="span7">
    <div>
      <span class="blue highlight" style="font-size: 1.8em; float: right">The opening video set the</span>
      <span class="blue highlight" style="font-size: 1.8em; float: right">tone for the event</span>
    </div>
  </div>

  <div class="span4 offset1">
    <img src="looking.jpg" />
  </div>

  <div style="position: absolute; top: 130px; margin-bottom: -20px">
  <div class="span4" style="margin-top: 20px">
    <img src="giving.jpg" />
  </div>
  <div class="span4">
    <h4>The Solution</h4>
    <p>The concept we developed was ‘Our Destiny in Your Hand’s’ a hard-hitting message packaged in a fun and impactful way.</p>
    <p>From the Destiny Maker machine which dispensed Japanese inspired destiny fortunes to the leaders making their individual commitments on a stunning balloon sculpture, the experience was designed to inspire the leaders at every step of the way.</p>
  </div>
  </div>
</div>

<div class="row">
  <div class="span5" data-valign="middle">
    <span class="blue highlight" style="background: none; color: #0083C8 !important; float: right">Delegates received messages</span>
    <span class="blue highlight" style="background: none; color: #0083C8 !important; float: right">from the 'destiny maker'</span>
  </div>
  <div class="span3">
    <img src="note.jpg" />
  </div>
  <div class="span2"></div>
</div>

<div class="row" style="">
  <div class="span7">
    <img src="caricatures.jpg" />
    <div style="position: absolute; top: 10px; left: 30px;">
    <span class="blue highlight" style="background: white; color: #0083C8 !important;">Leaders who inspire the delegates were</span>
    <span class="blue highlight" style="background: white; color: #0083C8 !important">featured in the experience zone</span>
    </div>
  </div>
  <div class="span5">
    <img src="your-hands.jpg" />
  </div>
</div>

<div class="row" style="margin-bottom: -330px">
  <div class="span9 offset2">
    <img src="talking.jpg" />
  </div>
  <div class="span10" style="margin-top: 20px;">
    <span class="blue highlight" style="font-size: 1.8em; float: right">The opening video set the</span>
    <span class="blue highlight" style="font-size: 1.8em; float: right">tone for the event</span>
  </div>
</div>

<div class="row" style="margin-bottom: -400px">
  <div class="span5">
    <img src="card.jpg" />

  </div>

    <div class="span4" style="margin-top: 40px">
      <h4>The Result</h4>
      <p>A memorable experience leaving 250 Senior Managers inspired and ready to take ‘Destiny into their Hands’.</p>
    </div>

</div>

<div class="row">
  <div class="span6 offset6">
    <img src="stage.jpg" />
  </div>

    <div class="span3 offset1" style="margin-top: -200px">
      <img src="balloons.jpg" />
    </div>

    <div class="span5" style="margin-top: 20px">
      <img src="balloons2.jpg" />
    </div>

</div>