---
pageable: true
per_page: 10
title: Work
---

<% page_articles.each_with_index do |article, i| %>
  <% if article.data.published? %>
    <div class="cover" style="background-image: url('<%= "#{article.url}cover.jpg" %>');">
      <div class="inner" style="position: absolute; bottom: 0;">
        <span class="white">Great is...</span>
        <% lines = article.data.quote.split('\n').map(&:strip) %>
        <% lines.each_with_index do |line, index| %>
          <span class="blue"><%= line %></span>
        <% end %>
      </div>
      <%= link_to article.title, article, relative: true %>
    </div>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
