---
title: About Us
---

<div class="row">
<div class="span12 blurb">
<p>
Meet Rapport, we are an ideas led events <br/>
agency based in the heart of Manchester.<br/>
We think smart ideas which involve your <br/>
audience and capture their imagination is <br/>
ultimately what will inspire them to <br/>
<span class="great">do great things.</span>
</p>
</div></div>