---
title: About Us
---

<div class="row">
<div class="span12 talking">
  <div class="desc">
We’re small and we like it that way.<br/>
It allows for a more collaborative approach to our work.<br/>
Our core team is made up of creative directors,<br/>
content creators, designers and producers.<br/>
We will work closely with you to develop and deliver creative solutions that<br/> will inspire your audience to do great things.
</div>
</div>
</div>

<div class="row">
<div class="span12 about_images">
  <ul>
    <li class="top">Inspiring people through:</li>
    <li>Live Events</li>
    <li>Brand Creation</li>
    <li>Design</li>
    <li>Film</li>
    <li>Experiential</li>
    <li>Internal & Creative Communications</li>
  </ul>
</div>
</div>