---
title: About Us
---

<div class="row">
<div class="span12 blurb">
<p>
Meet Rapport, we are an ideas led events <br/>
agency based in the heart of Manchester.<br/>
We think smart ideas which involve your <br/>
audience and capture their imagination is <br/>
ultimately what will inspire them to <br/>
<span class="great">do great things.</span>
</p>
</div>
</div>

<div class="row about-more">
<div class="span5">
<p>Our core team is made up of<br/> Creative Directors, Content Creators,<br/> Designers and Producers.</p>
<p>We will work closely with you to develop<br/> and deliver a creative solution that will<br/> inspire and enable your people to<br/> do great things.</p>
</div>
<div class="span5">
<p>Inspiring people through:<br/>
<span class="silver">
  Brand Creation<br/>
  Live Events<br/>
  Internal Communication<br/>
  Film
</span>
</p>
</div>
</div>