---
title: Clients
---

<% @clients = %w[adidas capital-one astellas kelloggs rbs mands lloyds elexon british-gas natwest nord-anglia british-council ikano airline-services bbc kids-unlimited] %>
<% @links = {'adidas' => 'adidas-2012', 'capital-one' => 'capital-one-heroes', 'kelloggs' => 'kelloggs-2011'} %>

<div class="row">
  <% @clients.each do |client| %>
    <div class="span2 client">
      <% if @links.has_key?(client) %><a href="/work/<%= @links[client] %>/"><% end %>
      <span style="background-image: url(<%= image_path("clients/#{client}.png") %>)"><%= client %></span>
      <% if @links.has_key?(client) %></a><% end %>
    </div>
  <% end %>
</div>
