
<div class="row">
  <div class="span12">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <%= image_tag "homepage/opening_statement.png" %>
        </li>

        <% %w[marks mikes joannes].each do |name| %>
        <li><a href="/work/<%= name %>-story/"><%= image_tag "/work/#{name}-story/slide.jpg" %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
