<div class="row">
  <div class="span6" style="margin-bottom: 30px;">
    <p>I recently left Rapport (and Manchester for that matter) for sunnier climes, leaving an opening in one of Manchester’s top creative agencies, so if you’re a top-notch account manager this could be the job for you.</p>
    <p>You’ll need to have a few years’ experience in the creative industry under your belt, meaning you’ll have a good grasp on the below:</p>
  </div>

  <div class="span9" style="margin-bottom: 30px;">
    <div class="point"><span>Creative concept development</span></div>
    <div class="point"><span>Developing pitch and project presentations</span></div>
    <div class="point"><span>Preparing and managing budgets</span></div>
    <div class="point"><span>Managing all production/technical elements, including logistics</span></div>
    <div class="point"><span>Producing and delivering on project plans</span></div>
    <div class="point"><span>Developing and maintaining effective Client relationships</span></div>
    <div class="point"><span>Sourcing and managing suppliers</span></div>
  </div>

  <div class="span6">
    <p>To be honest, that’s all a bit of a given, what you’ll need to be really good at is drilling right down to the client’s objective from a brief, and then creating something great! Making it your personal mission to exceed the client’s expectations every time.</p>
    <p>Perhaps most importantly you need to love getting to know your clients, your colleagues, your suppliers, the local butty seller… in fact you should love building and cultivating strong, honest relationships with just about everyone – its all about Rapport!</p>
  </div>

  <div class="span6">
    <p>Rapport need you if you strive to do great things and you’re not afraid to roll your sleeves up and get the job done.</p>
    <p>In return you’d get to work somewhere that will always encourage you to grow, provide you with support when you need it and autonomy when you don’t and truly lives and breathes what they preach, if this sounds good then hit them up – quick!</p>
  </div>
</div>
